:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFFFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.one {
  font-weight: 500;
  color: #FFFFFC;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
  border: 6px solid #D15E0E;
  
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer {
  display: flex;
  margin: 2% auto 2% auto;
  align-content: center;
  text-align: center;

}

#root > div.footer > footer {
  display: flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
