
.display-records {
  width:100vw;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%
}

.display-records h2 {
  color: #fcf7f8;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.display-records table {
  width: 100%;
  border-collapse: collapse;
}

.display-records th, .display-records td {
  border: 1px solid #000000;
  padding: 2%;
  text-align: center;
}

.display-records th {
  background-color: #DE9151;
  font-weight: bold;
}

.display-records tr:nth-child(even) {
   background-color: #1D3461;
   color: #fcf7f8;
   font-weight: bold;
}

.display-records tr:nth-child(odd) {
  background-color: #fcf7f8;
  color:#1D3461;
  font-weight: bold;
}
.display-records tr:hover {
  background-color: #a31621;
}

#root>div.container>div>table>tbody>tr:nth-child(odd)>td:nth-child(odd)>button:nth-child(odd) {
  border:3px solid black;
}

#root>div.container>div>table>tbody>tr:nth-child(even)>td:nth-child(even)>button:nth-child(even) {
  border:3px solid yellow;
}


